<!doctype html>
<html>
    <head>
    <style>
    .title {
        text-align:center;
    }
    .textbox {
        height:100px;
    }
    .error{
        color: red;
        }
    </style>

<button onclick="window.location.href='http://127.0.0.1:5000/index';">Home</a></button>
<button onclick="window.location.href='http://127.0.0.1:5000/blog';">All Blog Post</a></button>
<button onclick="window.location.href='http://127.0.0.1:5000/newpost';">Add a Blog Entry</a></button>
<button onclick="window.location.href='http://127.0.0.1:5000/logout';">Logout</a></button>

    </head>
<body>

    {% with messages = get_flashed_messages(with_categories = True) %}
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}

    {% block content %}
    {% endblock %}


</body>
</html>